/*  header */
.header {
  height: 100vh;
  background: url(../images/banner.png)
    center center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &-content {
    color: #fff;

    p {
      max-width: 283px;
      margin-left: 16.5px;
    }
  }

  &-links {
    display: flex;
    justify-content: space-around;
    
    img:hover {
      transform: scale(1.1);
    }
  }
}

/*  about */
.about {
  max-width: 412px;

  .about-skills {
    border-top: 1px solid #000;
    padding-top: 28px;
    margin: 0 14px;
    max-width: 384px;

    h3::before {
      content: "";
      display: inline-block;
      vertical-align: -2px;
      border-radius: 100%;
      width: 22px;
      height: 22px;
      margin-right: 16px;
      background: #891818;
    }
  }
}

/*  brand */
.brand {
  background: #000;
  color: #fff;
  padding: 56px 0 120px 0;

  &-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*  works */
.works {
  padding-bottom: 96px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* footer */
.footer {
  background: #000;
  padding: 64px 0;
  height: 100%;
  display: flex;
  justify-content: center;

  .contact {
    color: #fff;
    a {
      display: block;
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
